PORT=8001
MODEL_DIR=./saved_models
DEFAULT_SPEED_KMPH=30
DEMAND_MODEL_NAME=demand_model.joblib
PRIORITY_MODEL_NAME=priority_model.joblib
RISK_MODEL_NAME=risk_model.joblib
RECOMMENDER_MODEL_NAME=recommender_model.joblib
